body {
   background-color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}
.menu-text{
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(117, 255, 198);
    font-family: sans-serif;
}
.navbar-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navbar-links li{
    list-style: none;
}
.navbar-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    padding: 14px 16px;

}
.navbar-links li a:hover:not(.active) {
    background-color: rgb(117, 255, 198);

}

.navbar-links li a.active { 
    background-color: rgb(55, 43, 226);
}

.hero-image {
    background-image: url(background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #fff;
    border: none;
    color: #6b82a7;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
 }



.art-container{
    margin: 2rem auto;
    max-width: calc(100% - 400px);

}

.art-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 6rem;
}

.image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.card{
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
    cursor: pointer;
}

.content{
    padding: 2rem;

}
.content .avatar{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}

.content .name-avatar{
    margin: 1rem 0;
    color: #22447b;
}

.content .card-info{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: aquamarine;
    color: white;
    text-align: center;
}


